# Never upload your secrets!
.env

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.swp
